
.body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.counter {
  display: flex;
  align-items: center;
  font-size: 3rem;
  padding: 10px 20px;
  border-radius: 10px;
}

.clock-icon {
  font-size: 2rem;
}

.digit {
  background-color: #111;
  padding: 10px 15px;
  margin: 0 2px;
  border-radius: 5px;
}

